body{
    font-family: '0pen Sans', sans-serif;
}
    
h1,h3{
    text-align: center;
    background-color: blue;
    
}
.div2{
    height: 400px;
    width: 500px;
    background-color: rgb(200, 223, 223);
}

.p1{
    height: 100px;
    width: 400px
    background-color: #FA0;
}